#upload {
    text-align: center;
    background-color: #a1b8e2;
    margin-left: -15px;
    margin-right: -15px;
    overflow-x: hidden;
}

input {
    padding: 10px;
}

#buttons {
    text-align: center;
    background-color: #d4def1;
    margin-left: -15px;
    margin-right: -15px;
    padding: 20px;
}

canvas {
    max-width: 100%;
}

.container {
    background-color: #AEB6BF;
}